.container{
    text-align: justify;
    
}

.container p {
    margin: 10px;
    width: 250px;
}
.Alexa-toggle{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}