.container-historial{
    text-align: justify;
    
}

.historial-links {
     margin: 15px;
     text-decoration: none;
     border-bottom: 1px solid  #C4C4C4;
     color: black;
     padding: 5px;
     display: flex;
     justify-content: space-between;
}
#boton-selec{
    background-color: #12d3cf;
    color: white;
}
.Selec-historial{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 3px;
    
}
.contenedor-buscador{
    margin: 35px;
    text-align: center;
}
.buscador{
    width: auto;
    height: auto;
    border-radius: 8px;
}